{% extends "layout.html" %}


{% block title %}
      Walid Hassani - Hire me !
{% endblock %}


{% block header %}
      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('home') }}" class="" >about</a>        
          &rarr; <a href="{{ url_for('posts') }}" class="" >blog</a>
          &rarr; <a href="{{ url_for('hire') }}" class="selected">hire me</a>

        </div>
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/hire">
          hire me
        </a>
      </div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    <h1>Want to hire me ?</h1>
<div class="published">
  <span>Great news, keep reading!</span>
</div>

<div id="container">
  <div id="content">

    <div id="hire">
      <p>
       Currently I'm mostly focused on research & developpment in control engineering, but I'm open to other kind of missions.
      </p>
      <h3>What I Can Do For You</h3>
      <p>
	 Here's an incomplete list of the things I can help you with:
      </p>

      <ul>
        <li><strong>Development of Control laws Strategies (Robuste, Stable, Artificial Intelligence Base, ... ) or improve the existing ones </strong></li>
        <li><strong>Design of a Human-Machine Interaction Strategies (GUI, force sharing, human awarness, ...) </strong></li>
        <li><strong>Dynamical System Modeling and Optimization (experiment design, model fitting, Kalman estimator) </strong></li>
        <li><strong>Programming your MicroController based board</strong></li>
        <li>Development of a simulation models using Matlab/Simulink, C/C++ or Pyhton</li>
        <li>Speed prototyping using dSPACE board </li>
      </ul>

      <h3>Why I Can Help</h3>

      <p>
        <a> I'm a PhD & I've a deep knowlegde in control engineering ..... </a> 
      </p>
      <small>
      <p style="font-style: italic;">
        All my developped control strategies have been experimentally tested, published in most prestigious conferences and revues in robotics and Control (IROS, CDC, RSS, ...). Therefore, reviewed and approved by international experts from Stanford, Berlin, Tokyo, Washington, etc. 
      </p>
      </small>
      <p>
        I've several years of experience in electronics and embedded systme design for robotics and automated industrial systems. 
      </p>
      <small>
      <p style="font-style: italic;">
        I occupied several engineer positions and developped many systems including the design and the development. I can cite, a microconroller-based boards for automated industrial systems, servo-controllers, robot benchmark, wireless system network, multichannel signal acquisition systems, etc.  
      </p>
      </small>
      <p>
        I worked in an international environments .....
      </p>
      <p style="font-style: italic;">
        I was invloved in many international projects, including, industrial and academic from Finland, Germany, Spain, Turkey, South of Korea. 
      </p>

      <p>
        Since all this is just me talking, let's see some video of my previous projects. 
      </p>


      <div id="reviews" class="cf">
        <div class="review">

          <iframe width="120%" height="215" src="https://www.youtube.com/embed/RUKT4ISaRRs" frameborder="0" allowfullscreen></iframe>
        </div>
 
         <div class="review">
          <iframe width="120%" height="215" src="https://www.youtube.com/embed/deWcUtdpbrw" frameborder="0" allowfullscreen></iframe>
        </div>     
        <div class="review">

          <iframe width="120%" height="215" src="https://www.youtube.com/embed/DpPNpWC2QRs" frameborder="0" allowfullscreen></iframe>
        </div>


      <h3>Contact Me</h3>
      <p>
        Before contacting me, know that....
      </p>
      <p>
        I'm localized in Paris, so if you need me in person... that's where
        I'll be !....
     </p>

      <p >
         References available on request.
      </p>

    </div>
  </div>
</div>

{% endblock %}

