{% extends "layout.html" %}

{% block title %}
      Walid Hassani - About
{% endblock %}



{% block header %}
      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('home') }}" class="selected" >about</a>        
          &rarr; <a href="{{ url_for('posts') }}" class="" >blog</a>
          &rarr; <a href="{{ url_for('hire') }}" class="" >hire me</a>
        </div>
        
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/">
          about
        </a>
      </div>
{% endblock %}

{% block content %}

  <h1>PhD in Control Engineering</h1>
  <div class="published">
    <span>friendly human-machine relationship</span>
  </div>

  <div id="container">
    <div id="content">

<p> I'm currently looking for an R&D engineer position. I have several years of experiences in many industries and laboratories, including : 
    <div id="hire">
      <ul>
        <li><strong>Biomedical Robotics</strong></li>
        <li><strong>Advanced Control Engineering </strong></li>
        <li><strong>Electronics & Embedded Systems Design</strong></li>
      </ul>
    </div>
</p>
 
  <p>
    You can reach me via
    <a href="https://www.researchgate.net/profile/Hassani_Walid"target="_blank">ResearchGate</a>
    , my <a href="http://www.linkedin.com/in/xxx" class="linkedin" target="_blank">LinkedIn</a>
    account or my email "hassani.walid-at-gmail-dot-com". If you want
    to hire me, go check out <a href="/hire">this page</a>
    before contacting me.
  </p>
  <div class="footnote">
    Walid Hassani-
  </div>

</div>


{% endblock %}

