<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Walid Hassani">
	{% block meta %}
	{% endblock %}


    <title>
	{% block title %}
	{% endblock %}
    </title>

    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}" media="all">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
  </head>

<body>
    <header>
	{% block header %}
	{% endblock %}
    </header>

	{% block content %}
	{% endblock %}

    <footer>
      Blog App made by me using <a href="http://flask.pocoo.org/">Flask Python</a> hosted on
      <a href="https://github.com/whassani/whassani.github.com">Github</a>
      <br />
      All of the <a href="/blog">blog's articles</a> are under
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative commons</a> license
      unless stated otherwise. Everything else is &copy;.
    </footer>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31071519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


	{% block editorjs %}
	{% endblock %}



  </body>
</html>


