{% extends "layout.html" %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.description }}">
{% endblock %}

{% block header %}
      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('home') }}" class="" >about</a>        
          &rarr; <a href="{{ url_for('posts') }}" class="selected" >blog</a>
          &rarr; <a href="{{ url_for('hire') }}" class="" >hire me</a>

        </div>
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/posts">
          blog
        </a>
      </div>
{% endblock %}

{% block content %}

    <h1>
  <span>
	{{ post.title }}

  </span>
</h1>

<div class="published">
  <span>Published the {{ post.date }} in 
  {%  for category in post.categories %}
  <a href="{{ url_for('categories',name=category) }}"> {{ category }} </a> &nbsp; 
       {% endfor %}
  </span>
</div>

<div id="container">
  <div id="content">
    <div class="post">
{{post.html|safe}}
      


      <p>
        <a href="#" id="show-disqus">Show Comments</a>
      </p>

      <div id="disqus_thread"></div>
      <script>
        document.getElementById('show-disqus').onclick=function(e){
          e.preventDefault();
          document.getElementById("disqus_hide").innerHTML = "";
          document.getElementById("show-disqus").innerHTML = "";
        }
      </script>
      <script type="text/javascript">
          var disqus_shortname = 'whassani';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

  </div>
</div>
{% endblock %}



