{% extends "layout.html" %}

{% block title %}
	{{ post.title }}
{% endblock %}
{% block meta %}
    <meta name="description" content="{{ post.description }}">
{% endblock %}

{% block header %}
      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('posts') }}" class="selected" >blog</a>
          &rarr; <a href="{{ url_for('portfolio') }}" class="" >portfolio</a>
          &rarr; <a href="{{ url_for('hire') }}" class="" >hire</a>

        </div>
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/posts">
          blog
        </a>
      </div>
{% endblock %}

{% block content %}

    <h1>
  <span>
	{{ post.title }}

  </span>
</h1>

<div class="published">
  <span>Published the {{ post.date }} in the Categories 
  {%  for category in post.categories %}
  <a href="{{ url_for('categories',name=category) }}"> {{ category }} </a> &nbsp; 
       {% endfor %}
  </span>
</div>

<div id="container">
  <div id="content">
    <div class="post">
    <div markdown="1">
{{post.html|safe}}
</div>
      

      <div id="more">
        <div id="more-articles">
          
            <p>Since you scrolled this far, you might as well take a look at some other things I wrote !</p>
            <ul>
       	    {% for posts in posts %}
              <li><a href="{{ url_for('post', post_id=post.id) }}">{{ posts.title }}</a></li>
           {% endfor %}
            </ul>
          
        </div>
        <a href="https://twitter.com/xxx" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @xxx</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="marcgg" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>

      <style id="disqus_hide">
        #disqus_thread{
          display: none;
        }
      </style>
      <p>
        <a href="#" id="show-disqus">Show Comments</a>
      </p>

      <div id="disqus_thread"></div>
      <script>
        document.getElementById('show-disqus').onclick=function(e){
          e.preventDefault();
          document.getElementById("disqus_hide").innerHTML = "";
          document.getElementById("show-disqus").innerHTML = "";
        }
      </script>
      <script type="text/javascript">
          var disqus_shortname = 'whassani';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

  </div>
</div>
{% endblock %}



