{% extends "layout.html" %}


{% block title %}
      Walid Hassani - Blog
{% endblock %}

{% block header %}
      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('posts') }}" class="selected" >blog</a>
          &rarr; <a href="{{ url_for('portfolio') }}" class="" >portfolio</a>
          &rarr; <a href="{{ url_for('hire') }}" class="" >hire</a>

        </div>
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="{{ url_for('posts') }}">
          blog
        </a>
      </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
    <div id="all-posts">
    
      <div class="single-post clearfix">
        <div class="excerpt">
          <div class="title">
                <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>
          </div>

          <p class="description">
            {{ post.description }}
          </p>
          <div class="date">{{ post.date }} in 
              {%  for category in post.categories %}
                  <a class="date" href="{{ url_for('categories',name=category) }}">{{ category }}</a> &nbsp; 
              {% endfor %}
          </div>
        </div>
      </div>
  
</div>
     {% endfor %}
{% endblock %}


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31071519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>

